

#main-body{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.movieItem{
  grid-column: auto;
  border-width: 9px;
  border-style: solid;
  border-color: black;
  border-radius:15%;
  padding:15px;
}
