#page-title-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#page-title{
  grid-column: 2;
  text-align:center;
  font-size:3em;
}

body{
  background-image: url('../images/studio_ghibli.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#selector-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left:1em;
}
#selector{
  grid-column: auto;
  margin:0.5em;
}

#main-body{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin:1em;
}

.movieItem{
  grid-column: auto;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(90,50,75,.8);
  border-radius:15%;
  background-color: rgba(90,50,75,.8);
  padding:1em;
  margin:0.5em;
  box-shadow: 12px 12px 2px 1px rgba(90,50,75,.5);
}

.movieItems{
  grid-column: auto;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(50,50,125,.8);
  border-radius:15%;
  background-color: rgba(50,50,125,.8);
  padding:1em;
  margin:0.5em;
  box-shadow: 12px 12px 2px 1px rgba(50,50,125,.5);
}
#loadingHeader{
  color:white;
}


.itemHeader{
  /* font-weight: normal; */
  color:white;
}

.itemScore{
  /* font-weight: normal; */
  color:white;
}

.itemReleaseDate{
  /* font-weight: normal; */
  color:white;
}
.itemDescription{
  /* font-weight: normal; */
  color:white;
}
.itemDirector{
  /* font-weight: normal; */
  color:white;
}
.itemProducer{
  /* font-weight: normal; */
  color:white;
}



#selector{
  color:darkblue;
  font-weight: bold;
}
